
.wrapper {
	width: 376px;
	height: 530px;
	border: solid 2px #5a5a5a;
	background: #fff;
	font-family: Tahoma;
	text-align: center;
}

h1 {
	font-weight: normal;
	font-size: 22px;
	color: #242424;
}

img {
	width: 250px;
	height: 285px;
}

.creditbox {
	text-align: left;
}

.credit {
	border: 0;
	width: 190px;
	height: 30px;
	background-color: #8bc144;
	color: #fff;
	display: inline-block;
	box-shadow: -3px 3px 0px 0px rgba(156,156,156,1);
	font-size: 22px;
}

p {
	margin: 15px auto;
	font-size: 28px;
	color: #242424;
}
	
.button {
	border: 0;
	width: 230px;
	height: 45px;
	background-color: #ff0000;
	color: #fff;
	box-shadow: 0px 4px 0px 0px rgba(133,0,0,1);
	font-size: 31px;
	text-shadow: -1px 1px 0px rgba(0, 0, 0, 1);
}