
table{
	width: 600px;
	margin: auto;
}
.cell{
	width: 200px;
	height: 200px;
	background-color: #850000;
}
.cellwhite{
	width: 200px;
	height: 200px;
	background-color: #fff;
}
.figure{
	
	width: 200px;
	height: 200px;
	background-color: #fff;
}
img{
	width: 200px;
	height: 200px;
}